#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(58, 160, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}
button:active{
    background-color: rgb(16, 86, 167);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceImages{
    width: 700px;
    align-items: center;
}
#diceImages img{
    width: 100px;
    margin: 5px;
}
